* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at center, white, gold, silver);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    width: 60%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #fff4;
    box-shadow: 2px 2px 8px #0008;
    text-shadow: 6px 4px 4px #0004;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32pt;
    border-radius: 0.5em;
}

#grid {
    display: none; /* grid; */
    gap: 1px;
    width: 80%;
    height: 80%;
    border: outset 2px #ccc8;
    background-color: #8888;
    border-radius: 2em;
    box-shadow: 2px 2px 16px #0008;
}

console {
    position: relative;
    top: -40%;
}