* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: url('img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    text-shadow: 3px 2px 6px #0008;
}

header {
    margin: 1em auto;
    min-height: 2em;
    width: 80%;
    background-color: #fff4;
    border-radius: 2em;
    padding: 1em;
}

main {
    display: flex;
    margin: 0 auto;
    min-height: 2em;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff2;
    border-radius: 2em;
    padding: 1em;
}

img {
    width: 60px;
    border-radius: 8px;
}

#filter {
    font-size: large;
    margin-top: 10px;
}

button {
    font-size: large;
}

.card {
    width: 250px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.03);
    border-radius: 2px;
}

.player-name {
    background-color: #0074D9;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

.player-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.player-data {
    padding: 10px 15px;
    text-align: left;
    line-height: 1.6;
}

.player-data span {
    font-weight: bold;
    color: #333;
}

.highlight {
    border: solid 8px blue;
}