* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #efc, #cef);
	text-shadow: 2px 1px 4px #0004;
	font-family:Arial, Helvetica, sans-serif;
}

header {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	background-color: #fff8;
	font-size: x-large;
	box-shadow: 2px 1px 4px #0004;
}

header>h1 {
	margin: 0;
}

main {
	margin: 1em;
	height: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	margin: auto;
	background-color: #0002;
	border-radius: 2em;
	padding: 1em;
}

.card h2 {
	padding-left: 2em;
	text-decoration: underline;
}

#progress {
	margin: 0;
	padding: 0.2em 1em;
	background: linear-gradient(to right, #080a 10%, #fffa 0%);
	border-radius: 1em;
}

.content {
	margin: auto;
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.invisible {
	display: none;
}

#loading {
	font-size: x-large;
}

#question-area {
	padding: 0;
}

#question {
	width: 100%;
	padding: 0.5em;
	font-size: larger;
	border: inset 2px #8888;
	border-radius: 1em;
	background-color: #efcc;
	font-weight: bold;
	font-size: x-large;
}

#code-block {
	width: 90%;
	height: fit-content;
	padding: 0.2em;
	font-family:'Courier New', Courier, monospace;
	background-color: #234;
	font-weight: bold;
	color: #8ae;
}

#options {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#options>div {
	width: 22em;
	display: flex;
	align-items:center;
}

#options div.result {
	width: 1em;
}

span.option {
	font-size: x-large;
	width: 22em;
}

div.controls {
	display: flex;
	justify-content: center;
}

div.controls>button {
	border-radius: 0.4em;
	border-width: 2px;
	border-color: #c0c0c0;
	padding: 0.4em;
	font-size: large;
	cursor: pointer;
	transition: all 0.2s;
	background-color: #def;
}

div.controls>button:hover {
	background-color: #fff;
}