* {
    box-sizing: border-box;
}

body {
    background-color: #aec;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0em;
    background-color: #cfe;
    overflow: hidden;
}

h2 {
    text-align: center;
    width: 100%;
    padding: 0.2em 0.4em;
    margin: 0px;
    color: white;
    text-shadow: 3px 4px 4px #000c;
    font-family: Consolas, monospace;
    background-color: #0004;
    border-bottom: outset 2px #aaa4;
    cursor: pointer;
}

#nav {
    position: absolute;
    left: 10px; top:10px;
    width:fit-content;
    padding: 0;
    background-color: #0008;
    opacity: 0.6;
}

nav {
    width:100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navitem {
    border: outset 2px #ccc4;
    background-color: #8884;
    width:100%;
    text-align: center;
    padding: 0.1em 0.3em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 4px 2px 6px #0008;
    transition: all 0.3s;
    filter: blur(1px);
}

.navitem:hover {
    background-color: #fff8;
    cursor: pointer;
    text-shadow: 0px 0px 4px #0008;
    filter: none;
    letter-spacing: 2px;
}

#content {
    border: inset 1px #8882;
    background-color: #fff4;
    width: 100%;
    height: 100%;
}