body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    margin: 2em;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #eee;
}

h2 {
    margin-bottom: 20px;
}

/* 1. Mozgás */
.move-box {
    width: 50px;
    height: 50px;
    background: red;
    /* animation 2sec alatt oda-vissza végtelen sokszor*/
}

/* keyframes move
  1. frame: x -100px
  2. frame: x 100px
*/

/* 2. Több lépés */
.multi-box {
    width: 50px;
    height: 50px;
    background: blue;
    /* animation 4sec alatt oda-vissza végtelen sokszor*/
}

/* keyframes moveColor
  1. frame: x -100px, y 0px, háttér kék
  2. frame: x 0px, y 50px, háttér piros
  3. frame: x 100px, y 0px, háttér zöld
*/

/* 3. Pattogó labda */
.ball {
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 50%;
    /* animation 1s végtelen sokszor ease-in-out */
}

/* keyframes bounce
  1. frame: 0% y 0, scale-y 1.0
  2. frame: 45% y 150px
  3. frame: 50% y 190px, scale-y: 0.8
  4. frame: 55% y 150px, scale-y: 1.0
  5. frame: 100% y 0
*/

/* 4. Loader */
.loader {
    width: 40px;
    height: 40px;
    border: 5px solid lightgray;
    border-top: 5px solid purple;
    border-radius: 50%;
    /* animation 1sec végtelen sokszor lineárisan */
}

/* keyframes spin
    1. forgatás 360 fokkal
*/

/* 5. Hover animáció */
.hover-box {
    width: 100px;
    height: 100px;
    background: red;
}

.hover-box:hover {
    border: solid 1px darkred;
    /* animation 0.5sec */
}

/* keyframes shake
  1. frame: 0% x 0px
  2. frame: 25% x -10px
  3. frame: 50% x 0px
  4. frame: 75% x 10px
  5. frame: 100% x 0px
*/


/* 6. Végtelen háttér */
.bg {
    width: 100%;
    height: 300px;
    background: url('landscape.jpg') repeat-x;
    /* animation scrollBg végtelen sokszor lineárisan */
}

.fg {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #000, #382);
}

/* keyframes scrollBg
    1. frame: pozíció 0,0
    2. frame: pozíció 612px,0
*/

.sec-bg {
    height: 400px
}

#mario {
    position: relative;
    width: 22px;
    height: 34px;
    transform: scale(2.0);
    background-image: url('mario.png');
    background-position: 0px  0px;
    left: 10px; top: 240px;
    /* animation run végtelen sokszor lineárisan */
}
/*
    Minden frame állítsa át
    - háttér pozícióját (x, y)
    - a figura szélességét és magasságát
    az alábbi adatok alapján:
        [0, 0, 22, 34],
        [23, 0, 22, 34],
        [46, 0, 22, 34],
        [69, 0, 22, 34],
        [92, 0, 25, 34],
        [118, 0, 27, 34],
        [146, 0, 25, 34],
        [172, 0, 24, 34]
*/