* {
    box-sizing: border-box;
}

console {
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 40%;
    top:60%;
    border: none;
    font-size:12pt;
    font-family:Consolas;
    text-align:left;
    color:#208040;
}

console>.border {
    width: 100%;
    height: 6px;
    background-color: #0008ff80;
    cursor:n-resize;
}
console>.content {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    background-color: #000000a0;
    overflow: auto scroll;
    scrollbar-color: #ffffff  #ffffff10;
    scrollbar-width: auto;
    color: #80c0a0;
}
